
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

*{
  box-sizing:border-box;
}
body{
  background:#dcdcdc;
}
/*****start menu****/
#screen{
  background:#222;
  box-shadow:0 0 5em #222;
  margin-bottom:5px;
  margin: 2% 40%;
  position: relative;
}
#show{
  display:none;
}
section{
  max-width:320px;
  width:334px;
  height:396px;
  background:orange url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSe36lyDveMJZRdpiZNRqkpR7eYmhtsWM5i8wa7EZWeg5Ca2hZZ') no-repeat center;
  background-size:cover;
  position:relative;
  transition:.4s;
}

section label{
  text-transform:uppercase;
  color:#fff;
  font-size:1em;
  font-weight:bold;
  background:none;
  position:absolute;
  top:10%;
  left:35%;
  padding:10px 20px;
  cursor:pointer;
  transition:.2s;
  border:1px solid #fff;
}

section label:hover{
  background:#fff;
  color:#222;
}
li{
  list-style:none;
}
a{
  text-decoration:none;
  color:#222;
  font-weight:bolder;
}

.side_nav{
  position:absolute;
  background:#222;
  font-family: 'Fredoka One', cursive;
  width:250px;
  padding: 0px;
  height: auto;
  top:0;
  bottom:0;
  left:0;
  padding-top: 75px;
  overflow: hidden;
}
 .side_nav li{
  text-align: center;
  margin-bottom: 10px;
  margin-left: 0px;
  transition:.4s;
}
.side_nav li :hover{
  background: #fff;
  color: #222;
}
.side_nav li a{
  display: block;
  padding: 10px 0;
  font-weight: 100;
  color: #fff;
}
#show:checked ~ section{transform:translateX(250px);}

/******end nav******/



/* main styles */
*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background: linear-gradient(-45deg, white, #274fa3, #536fe1);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4cfd8', endColorstr='#9da9b2',GradientType=0 );
  }

}

article {
  max-width: 40em;
  padding: 0 4em;
  margin: 0 auto;
}

h1, h2 {
  font-weight: normal;
  margin-top: 1em;
}

p, a {
  margin-top: 1em;
}

h2 + p {
  margin-top: 0;
}


/* progressive image CSS */
a.progressive {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
}

a.progressive:not(.replace) {
  cursor: default;
}

a.progressive img {
  display: block;
  width: 100%;
  max-width: none;
  height: auto;
  border: 0 none;
}

a.progressive img.preview {
  filter: blur(2vw);
  transform: scale(1.05);
}

a.progressive img.reveal {
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform, opacity;
  animation: reveal 1s ease-out;
}


@keyframes reveal {
	0% { transform: scale(1.05); opacity: 0; }
	100% { transform: scale(1); opacity: 1; }
}
